@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body {
  width: 80%;
  margin: auto;
} */

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('bg.jpg');
  background-size: cover;
  margin-bottom: 2rem;
  /* background-size: contain; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(7s * var(--oblak)) linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

section {
  position: relative;
  padding: 75px 100px;
}

section h2 {
  font-size: 3rem;
}
