body {
  font-family: 'Montserrat',sans-serif;
}


/*  # ide uvijek uz id */
#product-overiew {
  background-color: red;
  padding: 20px;
}

#product-overiew h1 {
  color: olivedrab;
  font-family: 'Anton', sans-serif;
}

/* h1 {
  color: green;
  font-family: sans-serif;
} */

.section-title {
  color: blueviolet;
  font-family: inherit;
}