@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #000; */
}

.nivo1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: antiquewhite;
  width: 80%;
  margin: 3rem;
}

.kineticPokus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  margin: 5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.kineticPokus::after {
  content: 'x';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0px;
  height: 0px;
  border: 60px solid transparent;
  /* transform: translateX(50%); */
  border-right-color: orange;
  border-left-color: magenta;
  animation: rotateA 4s linear infinite 1000ms;
}

.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

.kinetic::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: royalblue;
  animation: rotateA 8s linear infinite 2000ms;
}

.kinetic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: goldenrod;
  transform: rotate(90deg);
  animation: rotateB 8s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}

/* ************* */
/* ************** */
/*  Loader Border Button *********************** */
.loaderBorderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: red;
  position: relative;
  width: 200px;
  height: 200px;
  height: 200px;
  overflow: hidden;
  /*  poseban mirror efaket */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.loaderBorderButton:hover {
  background: #03e9f4;
  box-shadow: 0 0 15px #03e9f4, 0 0 15px #03e9f4, 0 0 15px #03e9f4,
    0 0 15px #03e9f4;
}

.loaderBorderButton span {
  position: absolute;
  display: block;
}

/* gornji */
.loaderBorderButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
  animation-delay: 1s;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/* Desno */
.loaderBorderButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

/* Dolje */
.loaderBorderButton span:nth-child(3) {
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 15px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 1s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: +100%;
  }
}

/* Desno */
.loaderBorderButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 15px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
