@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #c1b9e2, #7158e2);
  font-family: 'Muli';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  padding: 1rem;
  /* color: red; */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: translateX(0);
}
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
    transform: translateX(30px);
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
    transform: translateX(-30px);
    transform: translateY(20px);
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
    transform: translateX(30px);
    transform: translateY(-20px);
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
    transform: translateX(-30px);
  }
}

.search {
  position: relative;
  height: 50px;
  margin: 2rem;
}

.search.active input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(200px);
  transition: transform 300ms easy;
}

.search input {
  background-color: aliceblue;
  border: 0;
  font-size: 1rem;
  padding: 1rem;
  height: 50px;
  width: 50px;
  transition: width 300ms ease;
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  background-color: aliceblue;
  background-color: red;
  border: 0;
  cursor: pointer;
  transition: transform 300ms ease;
}

.btn:focus {
  outline: none;
}

/* **************** */
/* Rotirajuci menu ******* */

nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  margin-bottom: 5rem;
  transition: width 600ms linear;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 600ms linear;
  /* text-decoration: none; */
}

nav.aktivno {
  width: 320px;
}

nav.aktivno ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0);
  opacity: 0;
  transition: transform 600ms linear, opacity 600ms linear;
}

nav.aktivno ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: antiquewhite;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: none;
}

.icon .line {
  position: absolute;
  background-color: #000;
  height: 2px;
  width: 20px;
  top: 10px;
  left: 5px;
  transition: transform 600ms linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
  background-color: red;
}

nav.aktivno .icon .line1 {
  transform: rotate(765deg) translateY(5.5px);
}

nav.aktivno .icon .line2 {
  transform: rotate(-765deg) translateY(-5.5px);
}


/* RIPPLE */


.ripple-back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
  height: 200px;
  width: 200px;
}

.ripple {
  position: relative;
  background-color: purple;
  color: azure;
  border: 1px solid purple;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  overflow: hidden;
  margin: 10px 0;
}

.ripple:focus {
  outline: none;
}

.ripple .circle {
  position: absolute;
  background-color: #fff;
  /* ploozaj  se odredije programski u JS */
  /* top: 0;
  left: 0; */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  animation: skaliranje 500ms ease-out;
}

@keyframes skaliranje {
  to {
    transform: translate(-50%,-50%) scale(3);
    opacity: 0;
  }
}

/* <span class="circle" style="top:29px; left:82px"></span> */
/* <div class="ripple-back">
<button class="ripple">Click me</button>
</div> */